.col1{
    background-color: black;
    height: 30px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin:1px;
    width:30px;
}
.col1:hover{
    cursor: grab;
}
.red{
    background-color:red !important;
}
.green{
    background-color: green !important;
}
.white{
    background-color: white !important;
}
.container{
    margin-bottom: 50px;
    margin-top: 50px;
}