.col1{
    background-color: black;
    height: 30px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    width:20px;
}

.red{
    background-color:red !important;
}
.green{
    background-color: green !important;
}
.white{
    background-color: white;
}