.div{
    height: 30px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    background-color: rgba( black, 1.0);
    color: white;
    border-radius: 5px;
    margin: 5px;
}
h1{
    background-color: none;
}
ul{
    list-style: none;
}
.red{
    background-color: red !important;
}
.green{
    background-color: green !important;
}
.none{
    display: none;
}
.displayDiv{
    display: block;
}
.container{
    margin: 50px;
}